/* src/components/performance/ConcertCard.module.css */
.cardContainer {
  display: flex;
  flex-direction: column;
  width: 90px;
  margin: 0 12px;
  cursor: pointer;
}

.poster {
  width: 99px;
  height: 132px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 8px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: #4B4B4B;
  margin: 0;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: 10px;
  color: #B0B0B0; 
  margin-top: 8px;
  font-weight: 400;
}

.place {
  font-size: 8px;
  color: #B0B0B0; /* 변경: 공연장명 회색 */
  margin-top: 2px;
}

