.sectionContainer {
  margin-top: 24px;
}

.titleRow {
  display: flex;
  align-items: center;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 700;
  color: #1C1C1E;
}

.goIcon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-left: 8px; /* 텍스트와 간격 */
}

.listContainer {
  display: flex;
  overflow-x: auto;
  padding-bottom: 8px;
}
