.sectionContainer {
  margin-top: 24px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 700;
  color: #1c1c1e;
  margin-bottom: 8px;
  cursor: default;
}

.listContainer {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap; /* 한 줄로 고정 */
  padding-bottom: 8px;
  gap: 12px;
  scrollbar-width: none;
  -ms-overflow-style: none; /* 카드 사이 간격 */
}
