.cardContainer {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin-right: 8px;
  min-width: 320px;
  cursor: pointer;
  /* ✅ 핵심 추가 */
  height: 180px; /* 고정 높이 지정 */
  box-sizing: border-box; /* padding 포함 계산 */
}

.poster {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.textContainer {
  flex: 1;
  margin-left: 12px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #1c1c1e;
  margin: 0;
}

.place {
  font-size: 14px;
  color: #ff4b4b4b;
  margin-top: 6px;
}

.date {
  font-size: 14px;
  color: #ff4b4b4b;
  margin-top: 6px;
}

.goIcon {
  width: 20px;
  height: 20px;
}
