/* ✅ src/components/performance/popular/PopularConcertList.module.css */
/* - NewConcertList.module.css 톤과 동일 */
/* - 섹션 제목 ↔ 리스트 간격 16px */

.sectionContainer {
  margin-bottom: 40px; /*-8px*/
  caret-color: transparent;
}

.listContainer {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  caret-color: transparent;
  padding-left: 4px;
  padding-right: 16px;
}
.listContainer::-webkit-scrollbar {
  display: none;
}
