.search-bar {
  width: 100%;
  padding: 2px 0;
  .search-bar__input {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #3C9C68;
    padding-bottom: 8px;
    input {
      flex-grow: 1;
      padding: 2px 4px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      outline: none;
    }
    .search {
      width: 28px;
      height: 28px;
      color: #3C9C68;
      cursor: pointer;
    }
  }
}
